.gifAttach{
    position: relative;
    z-index: -10;
    background-image: url('./stars.gif');
}
.Website_Heading{
    margin: 30px;
    display:flex;
    justify-content: center;
}
.Website_Options{
    margin: 30px 30px 10px 10px;
    display:flex;
    justify-content: center;
}
.form-button{
    color: rgb(255, 255, 255);
    background-color: gray;
    opacity: 0.8;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
}
.form-inputs{
    min-height: 40px;
    min-width: 150px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
}
#display-image{
    display: inline-block;
    margin: 50px auto 50px auto;
    height: 350px;
    min-width: 350px;
    max-width: 350px;
    z-index: 10;
}
.planet-images{
    background-color:rgba(172, 166, 166, 0.2);
    min-height: 20vh;
    max-height: 65vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.mass-results{
    height: 30vh;
    width: 40vw;
    margin: 20px;
    background-color:rgba(172, 166, 166, 0.2);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.final{
    height: 12vh;
    width: 7vw;
    color: white;
    border-radius: 100px;
    background-color:rgba(172, 166, 166, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.noInput{
    height: 10vh;
    width: 50vw;
    background-color:rgba(172, 166, 166, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#negative{
    display: none;
}
#positive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.blend{
    mix-blend-mode: saturation;
}