body {
    font-family: "Montserrat", sans-serif;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p,h3,h1{
    margin: 5px;
    display: block;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 4% 12%;
}