body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px 22%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-decoration: underline;
    font-weight: normal;
    margin: 0%;
}

h4 {
    text-decoration: underline;
    font-weight: normal;
    margin: 1%;
}