#color-text{
    width: 100%;
    height: 98vh;
    font-size: 8rem;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
}
.fade-in-text {
    font-family: Arial;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}